@import "tailwindcss";

@theme {
  --font-sans: "Plus Jakarta Sans", system-ui, -apple-system, sans-serif;
  --font-mono: "JetBrains Mono", monospace;
  
  --color-primary: #1d4ed8; /* blue-700 */
  --color-accent: #2563eb; /* blue-600 */
}

@layer base {
  body {
    font-family: var(--font-sans);
  }
}
